<div id="view-counter" class="view-counter">
    <table class="view-counter-table" id="view-counter-table" cellspacing="0" cellpadding="0">
        <tr>
            <td class="view-counter-first">Total Views:</td>
            <td class="view-counter-second" id="total_views">0</td>
        </tr>
        <tr>
            <td class="view-counter-first">Page Views:</td>
            <td class="view-counter-second" id="page_views">0</td>
        </tr>
        <tr>
            <td class="view-counter-first">Views Last Month:</td>
            <td class="view-counter-second" id="month_views">0</td>
        </tr>
    </table>
</div>